PORT=8000
MONGODB_URI=mongodb+srv://manansolanki:Mk%4044824482@cluster0.kzwgpof.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
REFRESH_TOKEN_SECRET=chai-aur-backend
ACCESS_TOKEN_ExPIRY=1d
REFRESH_TOKEN_ExPIRY=10d
CLOUDINARY_CLOUD_NAME=do5zo4o3w
CLOUDINARY_API_KEY=554116771158611
CLOUDINARY_API_SECRET=HF7R9iawILdT8LCmSLYPwC48eRg
